.aside {
  box-shadow: 0 0 14px 0 #000;
  width: 320px;
  border-radius: 3px;
  position: relative;
  font-weight: bolder;
  border: 1px solid #61dd56;
  margin: 0 auto;
  color: #eee;
  margin-bottom: 20px;
}

.aside .title {
  background-color: rgba(97, 221, 86, 1);
  font-size: 28px;
  text-align: center;
  display: block;
  padding: 15px 0;
  color: white;
  font-style: italic;
  text-transform: uppercase;
  font-weight: bolder;
}

.aside .form {
  padding: 15px 20px;
  background-color: rgba(97, 221, 86, 0.05);
}

.aside input {
  box-shadow: inset 0px -5px 5px -5px #61dd56;
  border-radius: 3px;
  background-color: rgba(97, 221, 86, 0.1);
  width: 100%;
  padding: 5px 10px;
  transition: all 0.2s;
  font-weight: bolder;
  font-size: 1rem;
  color: #fff;
}

.aside input:focus {
  box-shadow: inset 0px -5px 5px -5px #61dd56;
}

.aside label {
  display: block;
  margin: 10px 0 3px 0;
}

.aside button {
  padding: 10px 20px;
  font-size: 24px;
  color: black;
  border: 3px solid lime;
  margin-top: 25px;
  transition: all 0.3s;
  background-color: lime;
  border-radius: 2px;
  box-shadow: inset 0 0 5px 0 transparent;
}

.aside button:hover {
  border: 3px solid lime;
  color: #eee;
  box-shadow: inset 0 0 5px 0 lime;
  background-color: transparent;
}

.aside .input-group {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}
